* {
    margin: 0;
    box-sizing: border-box;
}


p,h1,h2,h3,h4,h5,h6 {
    margin: 0;
}


ul {
    margin: 0;
    padding-left: 0;
}


img {
    display: block;
}


button {
    cursor: pointer;
}


.container {
    width: 1128px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}


body {
    font-family: "Roboto",sans-serif;
    color: #434455;
    background-color:#FFFFFF;
}


.header {
    padding-top: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
  

.header>.container {
    display: flex;
    justify-content: space-between;
    width: 1128px;
}


.link {
    text-decoration: none;
    color: #404bbf
}


.link:hover {
    text-decoration: none;
    color: #404bbf
}


.link:focus {
    text-decoration: none;
    color: #404bbf
}


.list {
    list-style: none;
    font-style: normal;
}



.logo > .link {
    color: #4d5ae5;
}


.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:#4d5ae5;
    margin-right: 76px;
}


.logo-head {
    color:#2e2f42;
}


.logo-foot {
    color: #f4f4fd;
}



.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.nav>.list {
    display: flex;
    padding: 0px;
    gap: 40px;
}


.navi {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#2e2f42;
    padding: 24px 0;
    
}


.addr {
    font-style: normal;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.addr>.list {
    display: flex;
    padding: 0px;
    gap: 40px;
}


.addr-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#434455;
    gap: 40px;
}




.sektion-one {
    background-color: #2e2f42;
    
    padding-top: 188px;
    padding-bottom: 188px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 1440px;
}


.sektion-one>.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.title {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin-bottom: 48px;
    max-width: 496px;
}


.butt {
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 16px 32px;
    gap: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
}


.butt:is(:hover, :focus) {
    background-color: #404BBF;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
}




.sektion-two {
    background-color: #FFFFFF;
    padding-top: 120px;
    padding-bottom: 60px;
    padding: 120px 0;
}


.sektion-two>.container>.list {
    display: flex;
    justify-content: space-between;
    gap: 24px;
}


.sektion-two-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
}


.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}


.li-t {
    width: calc((100% - 72px) / 4);
}


.list-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color:#2e2f42;
    margin-bottom: 8px;
}


.list-par {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}




.sektion-three {
    background-color: #FFFFFF;
    padding-top: 60px;
    padding-bottom: 120px;
}


.sektion-three>.container>.list {
    display: flex;
    justify-content: space-between;
    gap: 24px;
}


.sektion-three-li {
    width: calc((100% - 48px) / 3);
}


.sektion-three-title  {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color:#2e2f42;
    margin-bottom: 72px;
}


.sektion-three-img {
    width: 360px;
    height: 300px;
}




.sektion-four {
    background-color: #F4F4FD;
    padding-top: 120px;
    padding-bottom: 120px;
}


.sektion-four>.container>.list {
    display: flex;
    justify-content: space-between;
    gap: 24px;
}


.sektion-four-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}


.li-four {
    background-color: #FFFFFF;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
    width: 264px;
    text-align: center;
    width: calc((100% - 72px) / 4);
}


.sektion-four-img {
    width: 100%;
}

.li-four-text {
    padding: 32px 16px;
}

.li-four-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}


.li-four-par {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#434455;
    margin-bottom: 8px;
}


.four-ic-list {
    display: flex;
    justify-content: center;
    gap: 24px;
}


.four-ic-list-li {
    width: 40px;
    height: 40px;
}


.four-ic-link {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #4D5AE5;
    display: flex;
    align-items: center;
    justify-content: center;
}


.four-ic-link:hover {
    background-color:  #404bbf;
}





.four-ic-link:focus {
    background-color:  #404bbf;
}



.four-icon {
    width: 16px;
    height: 16px;
    fill: #f4f4fd;
}



.sektion-five {
    padding-top: 120px;
    padding-bottom: 120px;
}


.sektion-five-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}
    

.sektion-five-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;    
}


.sektion-five-li {
    width: calc((100% - 120px) / 6);
    height: 88px;

}


.sektion-five-link {
    width: 100%;
    height: 100%;
    border: 1px solid #8E8F99;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #8e8f99;
}


.sektion-five-ic {
    fill: currentColor;
}


.sektion-five-link:hover {
    border-color: #404bbf; 
    color: #404bbf;
}


.sektion-five-link:focus {
    border-color: #404bbf; 
    color: #404bbf;
}




.footer {
    background-color:#2e2f42;
    padding-top: 100px;
    padding-bottom: 100px;
}


.foot-a {
    display: inline-block;
    margin-bottom: 16px;
}


.foot-par {
    color: #F4F4FD;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    max-width: 264px;
}








.portfolio-section {
    padding-top: 96px;
    padding-bottom: 120px;
}


.portfolio-butt-list {
    margin-bottom: 72px;
    justify-content: center;
    display: flex;
    gap: 24px;
}


.portfolio-butt {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #4d5ae5;
    background-color: #F4F4FD;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 24px;
    border: 1px solid #E7E9FC;
    border-radius: 4px;
    flex: none;
    order: 2;
    flex-grow: 0;
}


.portfolio-butt:hover {
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    color: #FFFFFF;
    background-color: #404BBF;
    border: 1px solid transparent;
}


.portfolio-butt:focus {
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    color: #FFFFFF;
    background-color: #404BBF;
    border: 1px solid transparent;
}


.portfolio-punct-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}


.port-punct {
    display: inline-block;
    border: 1px solid #E7E9FC;
    width: calc((100% - 48px) / 3);
    display: inline-block;
}


.portfolio-img {
    display: block;
    width: 100%;
}


.info {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}


.portfolio-list-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color:#2e2f42;
    margin-bottom: 8px;
}


.portfolio-list-par {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}


:root {
}